.Iphone14Plus {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .GlobalWomenBeautyStandardsEstherHonig21 {
    width: 428px;
    height: 700px;
    position: absolute;
  }

  .Ellipse1 {
    width: 56px;
    height: 56px;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    border-radius: 9999px;
  }

  .Ellipse2 {
    width: 68px;
    height: 68px;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: rgba(255, 255, 255, 0);
    border-radius: 9999px;
    border: 1px white solid;
  }
}
