.routine-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  .header-routine {
    p {
      text-align: center;
      font-size: 1.3rem;
      padding: 8px;
      font-family: var(--font-family-2);
    }
    margin-top: 2em;
    background-color: black;
    color: white;
  }
  .return-button {
    padding: 10px;

    button {
      border: none;
      text-decoration: underline;
      font-size: 1.2rem;
      padding: 5px 12px;
      font-family: var(--font-family-1);
    }
  }
  .products-container {
    .productDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.5em 0;

      .productInfo {
        width: 370px;
        display: flex;
        border: 1px solid #e32847;
        border-radius: 15px 15px 0 0;

        .productImg {
          width: 170px;
          border-radius: 30px;
        }
      }

      .productDetailsDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .productName {
          font-size: 1.3rem;
          margin: 10px;
          font-family: var(--font-family-3);
        }
        .productPrice {
          font-size: 1.1rem;
          margin: 10px;
          font-weight: bold;
          color: #e32847;
          font-family: var(--font-family-3);
        }
      }
      .addToBasket {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 370px;
        height: 50px;
        background-color: #e32847;
        border: 1px solid #e32847;
        border-radius: 0 0 15px 15px;

        p {
          color: white;
          font-weight: bold;
          font-size: 1.1rem;
          font-family: var(--font-family-1);
        }
      }
    }
  }
}
